<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.segundamano.gianpa.pdd">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".AndroidApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".pomodorotimer.PomodoroTimerActivity"
            android:label="@string/title_activity_timer"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="${stopPomodoro}" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".pomodorotimer.PomodoroTimerActivity" />
        <activity
            android:name=".breaktimer.BreakTimerActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".pomodorotimer.PomodoroTimerActivity"
            android:theme="@style/AppTheme.Green.NoActionBar" />

        <service android:name=".complete.CompleteService">
            <intent-filter>
                <action android:name="${completeAndCount}" />
                <action android:name="${completeAndDiscard}" />
                <action android:name="${completeBreak}" />
            </intent-filter>
        </service>

        <receiver
            android:name=".wakeup.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>